<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css'>
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
        <button id="button_create">create</button>
        <button id="button_view_live">view live games</button>
        <button id="button_view_finished">view finished games</button>
        <button id="button_view_delete">delete game</button>
    </div>

    <script type='text/javascript'>
        $("body").on("click", "button", function() {
            var id = $(this).attr('id');

            switch (id)
            {
                case 'button_create':
                    window.location.href = "/create";
                    break;
                case 'button_view_live':
                    window.location.href = "/view/playing";
                    break;
                case 'button_view_finished':
                    window.location.href = "/view/finished";
                    break;
                case 'button_view_delete':
                    window.location.href = "/delete";
                    break;
            }
        });
    </script>
  </body>
</html>
