<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css'>

    <script>
    </script>

  </head>
  <body>
    <h1><%= title %></h1>
    <div>
        View currently played games.
    </div>

    <div id="list_of_currently_played_games"></div>

    <script type='text/javascript' src='/javascripts/script_view.js'></script>
  </body>
</html>
